_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
*.gem
*.gemspec
.jekyll-cache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
